
@media (max-width:576px){
	

.title h3::after{
    position: absolute !important;
    content: ""!important;
    top: 50px !important;
    left: 160px!important;
    background-color: green;
    width: 65px!important;
    height: 2px!important;
}

	}
	
@media (min-width:576px){
	

.title h3::after{
    position: absolute !important;
    content: ""!important;
    top: 50px !important;
    left: 220px!important;
    background-color: green;
    width: 65px!important;
    height: 2px!important;
}

	}
	
@media (min-width:768px){
	

.title h3::after{
    position: absolute !important;
    content: ""!important;
    top: 50px !important;
    left: 140px!important;
    background-color: green;
    width: 65px!important;
    height: 2px!important;
}

	}
	